<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Muistilista</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body ng-app="KurssiApp">
        <div ng-controller="KurssiController">
            <form name="KurssiForm">
                <h1>Kurssilista</h1>
                <div id="kurssi-container">
                    <div id="add-kurssi-container">
                        <input type="text" placeholder="Uusi kurssi" ng-model="newKurssi" ng-minlength="3">
                        <input id="newKurssiNopat" type="text" placeholder="Monta noppaa" ng-model="newKurssiNopat" required ng-pattern="/^[1-9]/">
                        <button ng-click="addKurssi()" ng-disabled="KurssiForm.$invalid">Lisää kurssi</button>
                    </div>
                    <div class="kurssi" ng-repeat="kurssi in kurssit">           
                        <label>
                            <span>Kurssi: {{kurssi.task}}</span> 
                            <span type="text" ng-model="kurssi.op">, opintopisteitä: {{kurssi.op}}</span>
                        </label>
                        <button class="remove-kurssi" ng-click="removeKurssi($index)">Poista</button>
                    </div>

                </div>
        <input type="text" placeholder="Uusi opiskelija" ng-model="newStudent">
        <button ng-click="addStudent()">Lisää opiskelija</button>
        <div class="kurssi" ng-repeat="student in students"> 
            <label>
                <span>Nimi: {{student.name}}</span> 
            </label>
        </div>
        </div>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/course_controller.js"></script>
    </body>
</html>