<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <div>
            <table>
                <tr ng-repeat="task in tasks| orderBy:'coursename'">
                    <td>{{task.coursename}}</td>
                    <td>{{task.tasks.assigment.task}}</td>
                    <td>{{task.tasks.assigment.points}}</td>
                    <td><button ng-click="removeTask($index)">Poista</button></td>
                </tr>
            </table>
        </div>

        <div><a href="#/course">Lisää kurssi ja tehtäviä!</a></div>
    </body>
</html>
