<div ng-controller="CourseController">
    <div>Kurssin nimi<div>
    <input type="text" placeholder="Kurssin nimi" ng-model="courseName">
    <div id="kurssi-container">

        <div>Tehtävä</div>
        <textarea ng-model="newTask">
        </textarea>
        <div>Maksimi pisteet</div>
        <textarea ng-model="newTaskPoints">
        </textarea>
        <button ng-click="addTask()">Lisää tehtävä</button>
        <br>
        <label>Tehtävä - - - - -  - - - - - - Maksimipisteet</label>

        <br>
        <div ng-repeat="course in courses | orderBy: 'coursename'">
            <input type="text" value="{{course.assigment.task}}" >
            <input type="text" value="{{course.assigment.points}}">
            <button ng-click="removeTask($index)">Poista</button>
        </div>

    </div>
    <a href="#/student">Lisää kurssit</a>

</div>